.DS_Store
**/__pycache__/*
src_data_files/uniprotkb_human_idmapping.dat
out
src_data_files/uniprot_sprot_human.xml
src_data_files/miRNAdbs
term_genes_crash
CMakePresets.json
log_output
.vs
.vscode/settings.json
temp
*.pyc
*.obo
*.gaf

test_run_2/
diabetes_angio_1/
diabetes_angio_3/
src_data_files/
cache/
goreverselookup/goreverselookuplib/cache/

*.egg-info/
dist/

legacy/__pycache__
legacy/runs